/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes heart {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes sparks {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
 
  .like-icon.is-liked .core {
    fill: var(--animation-fill-color);
    transition-delay: 0s;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition-delay: 0.03s;
  }

  .like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
    transition-delay: 0.06s;
  }

  .like-icon:not(.is-liked) .contour {
    fill: var(--contour-color); 
    transition: fill 0.1s linear;
  }

  .heart {
    transform: scale(1);
  }
  
  .like-icon.is-liked .heart {
    animation: heart 0.3s ease-in 0.1s forwards;
  }
  
  .sparks {
    opacity: 0;
  }
  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s forwards;
  }