/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family, "Inter", sans-serif);
  font-family: "Inter", sans-serif;
  font-variation-settings: "wght" var(--wght);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--background-image);
  display: grid;
  color: var(--text-color);
}
@supports (font-variation-settings: normal) {
  body {
    font-family: var(--font-family);
  }
}

.header {
  background-color: var(--header-background-color);
  inline-size: var(--section-inline-size);
  padding: var(--header-padding);
  border: var(--border);
  margin-block-end: var(--header-margin-block);
  margin-block-start: var(--header-margin-block);
  justify-self: center;
  text-transform: uppercase;
  font-family: var(--second-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: var(--font-weight-regular);
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__text {
  font-size: var(--header-text-font-size);
}

.card {
  inline-size: var(--section-inline-size);
  margin-block-end: var(--card-margin-block-end);
  justify-self: center;
}

.card__title {
  font-family: var(--font-family);
  font-variation-settings: "wght" var(--wght-bold);
  padding: var(--card-title-padding);
  font-size: var(--card-title-font-size);
  border-block-end: var(--border);
}

.card__wrapper {
  position: relative;
}

.card__item {
  background-color: var(--card-background-color);
  border: var(--border);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card__label {
  position: absolute;
  font-family: var(--second-family);
  font-size: var(--card-label-font-size);
  right: 25px;
  top: 27px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: var(--label-text-stroke);
  z-index: 1;
  font-weight: var(--font-weight-regular);
}

@supports (text-stroke: var(--label-text-stroke)) {
  .card__label {
    text-stroke: var(--label-text-stroke);
  }
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  display: block;
}

.filter-contrast {
  filter: contrast(160%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-multiple {
  filter: brightness(1.2) contrast(150%) saturate(180%) hue-rotate(45deg);
}

.filter-hue-rotate {
  filter: hue-rotate(120deg);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.card__decription {
  display: flex;
  flex-direction: column;
  padding: var(--card-decription-padding);
  gap: 25px;
  border-block-start: var(--border);
}

.card__text-wrapper {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.card__text {
  line-height: 117%;
  font-variation-settings: "wght" var(--wght);
  font-size: var(--card-text-font-size);
}

.button {
  border: var(--border);
  background-color: var(--button-background-color);
  font-size: var(--button-text-font-size);
  font-family: var(--second-family);
  line-height: 90%;
  color: var(--text-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card__button-wrapper {
  display: flex;
  align-self: end;
  gap: 4px;
}

.card__icon-button {
  background-color: var(--card-icon-button-background);
  height: 2.375rem;
  padding: var(--card-icon-button-padding);
  border: var(--card-icon-button-border);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease; 
}

.card__like-button {
  width: 8.125rem;
  height: 2.375rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.save-panel {
  display: flex;
  inline-size: var(--section-inline-size);
  margin-block-end: var(--save-panel-margin-block-end);
  justify-content: center;
  justify-self: center;
}

.save-panel__button {
  padding: var(--save-panel-button-padding);
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  overflow: hidden;
}
.dialog {
  row-gap: 30px;
  column-gap: 20px;
  inline-size: var(--dialog-inline-size);
  padding: var(--dialog-padding);
  border: var(--border);
}

.dialog[open] {
  display: grid;
}

.dialog svg {
  align-self: center;
}

.dialog::backdrop {
  background-color: var(--dialog-backdrop-color);
}

.dialog-text {
  grid-row: 1;
  grid-column: 2;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: var(--dialog-text-font-size);
  line-height: 150%;
}

.dialog-button {
  grid-row: 2;
  grid-column: span 2;
  padding: var(--dialog-button-padding);
  position: relative;
  height: 2.375rem;
  text-transform: uppercase;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: var(--box-shadow);
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-background-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  mix-blend-mode: difference;
}

.button:hover:before {
  transform: scaleX(1);
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

@media (width <= 375px) {
  .save-panel__button {
    height: 5.25rem;
    flex-direction: column;
    gap: 8px;
  }
  .save-panel__button svg {
    width: 28px;
    height: 28px;
  }

  .card__wrapper {
    border-block-end: var(--border);
  }

  .dialog-text {
    min-width: 198px;
  }
  .card__label {
    right: 10px;
    top: 20px;
  }
}
